.vscode/launch.json
Git Bash.lnk
Visual Studio Code.lnk
Python 3.7/IDLE (Python 3.7 32-bit).lnk
Python 3.7/Python 3.7 (32-bit).lnk
Python 3.7/Python 3.7 Module Docs (32-bit).lnk
__pycache__/api.cpython-37.pyc
